ion-content {
    --padding-top: 20%;
    --padding-start: 10%;
    --padding-end: 10%;
    --background: url("/assets/like-edificio.png") 0 100%/100% 100% no-repeat rgba(255,255,255);

    h1{
        color:black;
    }
    ion-grid {
        --padding-top: 20%;
        --padding-start: 10%;
        --padding-end: 10%;    
    }

}

ion-footer{
    ion-button{
        font-size:xx-small;
        border-radius: 30px;    
    }
}

ion-button {
    border-radius: 15px;
}


.input-group {
    background: var(--ion-color-light);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}

.errors {
    font-size: small;
    color: var(--ion-color-light);
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
