<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>
      Últimas publicaciones 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>   
    <ion-card  *ngFor="let item of itemService.items" style="background-image:url({{item.userPhoto}});" (click)="showItem(item)">      
      <ion-card-content>
        <ion-card-title>
          {{ item.userName }} | {{ item.date }}
          </ion-card-title>        
      </ion-card-content>      
    </ion-card>
  
  </ion-list>
</ion-content>
